body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --ant-pink-1: #291321;
  --ant-pink-2: #40162f;
  --ant-pink-3: #551c3b;
  --ant-pink-4: #75204f;
  --ant-pink-5: #a02669;
  --ant-pink-6: #cb2b83;
  --ant-pink-7: #e0529c;
  --ant-pink-8: #f37fb7;
  --ant-pink-9: #f8a8cc;
  --ant-pink-10: #fad2e3;
  --background-color: #fad2e3;
  --background-color-2: #fff;
  --text-color: #cb2b83;
}

.ant-btn {
  background-color: #fff;
  color: var(--ant-pink-6);
  border: none;
}

.ant-btn:hover {
  background-color: #fff;
  color: var(--ant-pink-2) !important;
  border: none;
}

.btn1 {
  background-color: var(--ant-pink-6);
  color: var(--ant-pink-10);
  border: none;
}

.btn1:hover {
  background-color: var(--ant-pink-7) !important;
  color: var(--ant-pink-10) !important;
  border: none;
}